<section class="todoapp">
  <header class="header">
    <h1>{{label}}</h1>
    <!-- <button class="clear-completed" (click)="generateQrCode()">QRcode</button> -->
    <img src="../../assets/images/qrcode.png" class="clear-completed qrcode" (click)="generateQrCode()" alt="QRcode logo">
    <img src="../../assets/images/undo.png" class="clear-completed undo" (click)="undo()" alt="undo logo">
    <img src="../../assets/images/redo.png" class="clear-completed redo" (click)="redo()" alt="redo logo">
    <img src="../../assets/images/micro.png" class="clear-completed start" (click)="start()" alt="micro logo">
    <img src="../../assets/images/micro-off.png" class="clear-completed stop" (click)="stop()" alt="micro-off logo">
    <form (submit)="appendItem(newTodoInput.value); newTodoInput.value='' ">
      <input  #newTodoInput
              name        = "newTodoInput"
              class       = "new-todo"
              placeholder = "Que faire?"
              [value] = "message"
              autocomplete = "off"
              autofocus 
              />
    </form>
  </header>
  <section class="main">
    <input  class="toggle-all"
            type="checkbox"
            name="toggleAll"
            (click)="selectAll()"
    />
    <ul class="todo-list">
      <li *ngFor="let item of todoList.items" [class.completed]="item.isDone">        
        <app-todo-item [item]="item" *ngIf="item.isShow"></app-todo-item>
      </li>
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count"><strong>{{compteur()}}</strong> restantes</span>
    <ul class="filters">
      <li>
        <a class="filterAll" (click)="itemAll()">Tous</a>
      </li>
      <li>
        <a class="filterActives" (click)="itemActive()">Actifs</a>
      </li>
      <li>
        <a class="filterCompleted" (click)="itemComplete()">Complétés</a>
      </li>
      <li>
        <button class="clear" (click)="erasedAll()">Tout suppr</button>
      </li>  
    </ul>
    <button class="clear-completed" (click)="itemSupp()">Supprimer cochées</button>

  </footer>
</section>
<hr/>
<!-- GEnerer un QRCode -->
<qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
